*, body, html {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	overflow-X: hidden;
}
a {
	text-decoration: none;
}
@font-face {
    font-family: 'MrsWhite';
    src: url('../fonts/mrswhite/mrswhite-webfont.eot');
    src: url('../fonts/mrswhite/mrswhite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mrswhite/mrswhite-webfont.woff2') format('woff2'),
         url('../fonts/mrswhite/mrswhite-webfont.woff') format('woff'),
         url('../fonts/mrswhite/mrswhite-webfont.ttf') format('truetype'),
         url('../fonts/mrswhite/mrswhite-webfont.svg#mrs_whiteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (min-width: 1px) {
#up {
	display: block;
	position: fixed;
	bottom: 30px;
	right: 3%;
	padding: 15px 30px;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
	text-transform: uppercase;
	z-index: 1100;
	font: 20px/1 'MrsWhite';
	color: #fff;
	transition: 500ms linear background;
}
#up:hover {
	background: rgba(0,0,0,.8);
}
.menu-trigger {
    position: fixed;
    top: 24px;
    left: 24px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin: 0 auto;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 20001;
    font-size: 11px;
}
.icon {
	border:0;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    line-height: 1em;
    height: 2px;
    left: 0;
    top: 1.5em;
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    margin: 0 1.1em;
    background: #fff;
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    margin: 0 1.1em;
}
.icon:after,.icon:before {
    content: '';
    display: block;
    width: 1.5em;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.77,0,.175,1),left .4s cubic-bezier(.77,0,.175,1),top .4s cubic-bezier(.77,0,.175,1),bottom .4s cubic-bezier(.77,0,.175,1);
    transition: transform .4s cubic-bezier(.77,0,.175,1),left .4s cubic-bezier(.77,0,.175,1),top .4s cubic-bezier(.77,0,.175,1),bottom .4s cubic-bezier(.77,0,.175,1);
}
.icon:before {
    top: -6px;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
.icon:after {
    bottom: -6px;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
/* HEADER */
#header {
	height: 100vh;
	background: url(../img/elements1/bg-header.jpg);
	background-size: cover;
	text-align: center;
}
.top-otstup {
	height: 12%;
}
.logo {
	display: block;
	width: 27.5%;
	margin: 0 auto 2% auto;
}
.signature {
	display: block;
	width: 53%;
	margin: 0 auto;
}
.st2{
	fill:none;
	stroke:#444;
	stroke-width: 8;
}
.header_p {
	font: 51px/2.5 "Josefin Sans";
	color: #444;
}
/* MENU */
.main-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 0);
	text-align: center;
}
.menu__item {
	display: inline-block;
	margin: 0 3.5%;
	position: relative;
}
.menu__link {
	font: 51px/1.5 "Josefin Sans";
	color: #444;
	border-bottom: 3px solid rgba(19, 185, 148, 0);
}
.menu__link:hover {
	border-bottom: 3px solid rgba(19, 185, 148, 1);
}
/* ABOUT */
.content {
	position: relative;
	width:100%;
	min-height: 100vh;
	clear:both;
}
.side {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100vh;
	z-index: 105;
}
.main {
	position: relative;
	left: 50%;
	width: 50%;
	min-height: 100vh;
}
#page2  .main {
	font-size: 0;
	-webkit-transition: 1s left cubic-bezier(.77,0,.175,1) 0s,1s width cubic-bezier(.77,0,.175,1) 0s;
    transition: 1s left cubic-bezier(.77,0,.175,1) 0s,1s width cubic-bezier(.77,0,.175,1) 0s;
}
.grey-bg {
	background: #444;
}
.white-bg {
	background: #fff;
}
.green-bg {
	background: #13b994;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 51%;
}
.foto {
	position: absolute;
	top: 10%;
	right: -14%;
	width: 34.3%;
	z-index: 100;
}
.text {
	padding: 55px 20px 10px 15%;
}
.item2 {
	margin: 0 5px;
}
#page1 h3 {
	font: 38px/1.5 'MrsWhite';
	color: #13b994;
	text-align: center;
}
#page1 p {
	font: 25px/1.5 'MrsWhite';
	color: #444;
	text-align: justify;
}
.white {
	font: 38px/2.5 "Josefin Sans";
	color: #fff;
	border-bottom: 2px solid rgba(68, 68, 68, 0);
}
.menu__link.white:hover {
	border-bottom: 2px solid rgba(68, 68, 68, 1);
}
.grey {
	font: 38px/2.5 "Josefin Sans";
	color: #444;
	border-bottom: 2px solid rgba(19, 185, 148, 0);
}
.menu__link.grey:hover {
	border-bottom: 2px solid rgba(19, 185, 148, 1);
}
.green {
	font: 38px/2.5 "Josefin Sans";
	color: #13b994;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.menu__link.green:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.st0{
	fill:#13B994;
}
.st1{
	fill:#fff;
}
.more {
	position: relative;
	margin: 0 auto 8% auto;
	width: 120px;
	opacity: 0;
	transition: 1500ms cubic-bezier(.77,0,.175,1) all;
}
.next-container {
	position: relative;
	width: 100%;
	height: 150px;
	background: #444;
}
.next {
	transition: 500ms linear opacity;
	opacity: .8;
}
.next:hover {
	opacity: 1;
}
.more p, .next p {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font: 30px/1 'MrsWhite';
	color: #fff;
}
.more svg , .next svg {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	cursor: pointer;
}
.work-chapter {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: 1s width cubic-bezier(.77,0,.175,1) 0s;
    transition: 1s width cubic-bezier(.77,0,.175,1) 0s;
}
.img-container {
	overflow:hidden;
}
.img-container>img {
	width: 100%;
	height: 100%;
	transition: 4s linear transform;
}
.work-chapter:hover .img-container>img {
	transform: scale(1.1);
}
.work-chapter:hover .more {
	opacity: 1;
}
.work-title, .into h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -30%);
}
.work-title h2 {
	margin-top: 15vh;
	font: 80px/.9 "Josefin Sans";
	color: #fff;
	text-align: center;
}
.open-chapter {
	position: relative;
	display: none;
	margin: 0 auto;
}
.close {
	z-index: 100;
	position: absolute;
	width: 120px;
	top: 8%;
	right: 5%;
	transition: 2s ease-in-out all,
				500ms linear opacity;
	opacity: .9;
}
.close:hover {
	opacity: 1;
}
.close p {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -70%);
	font: 70px/.1 'Alegreya Sans', sans-serif;
	color: #fff;
}
.close svg {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	cursor: pointer;
}
#slider-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}
.slides {
	position: relative;
	height: 100%;
}
.slides>li {
	display: block;
	float: left;
	width: 100vw;
	height: 100vh;
}
.slides>li>img {
	display: block;
	width: 100%;
    height: 100%;
	vertical-align: middle;
	text-align: center;
	z-index: 1000;
}
#left, #right {
	width: 24px;
	height: 54px;
	background: url(../img/works/sprite-nav.png);
	position: absolute;
	top: 50%;
    margin-top: -27px;
	cursor: pointer;
}
#left {
	background-position: 0 0;
	left: 1%;
}
#left:hover {
	background-position: -25px 0;
}
#right {
	background-position: -76px 0;
	right: 31.5%;
}
#right:hover {
	background-position: -50px 0;
}
/* FORM */
.clearfix:before, .clearfix:after{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#send {
	position: absolute;
	top: 10%;
	right: 10%;
	width: 74px;
	height: 53px;
	background: url(../img/elements/mail1.svg) no-repeat;
	background-size: 100%;
	cursor: pointer;
	animation: rotation 4s linear infinite;
}
#wrap {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 999;
}
.writeme {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 420px;
	z-index: 1000;
	transform: translate(-50%, -50%);
}
.input {
	position: relative;
}
.name {
    background: url('../img/elements/person.svg') center center;
    background-color: #444;
}
.email {
    background: url('../img/elements/mail.svg') center center;
    background-color: #444;
}
.message {
    background: url('../img/elements/pencil.svg') center center;
    background-color: #444;
}
.input label {
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px !important;
    height: 45px !important;
    cursor: pointer;
	display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
	text-align: left;
}
.input input, .input textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;
    height: 45px;
    width: 100%;
    padding: 10px 10px 10px 55px;
    border: 1px solid #000;
}
.input input:focus, .input textarea:focus {
	box-shadow: 0 0 5px #1b9f57;
	border: 1px solid #1b9f57;
}
input[type="text"] {
	font: 15px/1.3 "Josefin Sans";
    color: #777;
    margin: 0;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
	padding: 10px 10px 10px 55px;
}
.input textarea {
	font: 15px/1.3 "Josefin Sans";
    min-height: 150px;
    resize: none;
	box-sizing: border-box;
	-webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;
    height: 45px;
    width: 100%;
    padding: 10px 10px 10px 55px;
    border: 1px solid #000;
}
.submit{
	width: 100%;
	position: absolute;
    right: 0;
    bottom: -42px;
    margin: 0;
	padding: 4px 0;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font: 20px/ 1.5  "Josefin Sans";
    text-transform: uppercase;
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    background: #444;
    border: none;
    color: #fff;
    text-shadow: none;
	cursor: pointer;
}
@keyframes rotation {
	0% {
		transform: scale(1);	
		}
	15% {
		transform: scale(1.2);
	}
	30% {
		transform: scale(1);
}
footer {
	clear: both;
	width: 100%;
	height: 300px;
	background: #fff;
}
}
@media screen and (max-width: 1150px) {
	.header_p {
	font: 40px/2.5 "Josefin Sans";
	}
	.menu__link {
	font: 40px/1.5 "Josefin Sans";
	}
	.logo {
		min-width:180px;
	}
	.signature {
		min-width:400px;
	}
	#page1 h3 {
		font-size: 34px;
	}
	#page1 p {
		font-size: 20px;
	}
	.item2 {
		margin: 0;
	}
	.white, .green, .grey {
		font: 20px/2.5 "Josefin Sans";
	}
	.work-title h2 {
		font-size: 50px;
	}
	#send {
		width: 42px;
		height: 30px;
	}
}
@media screen and (max-width: 620px) {
	.header_p {
	font: 32px/2.5 "Josefin Sans";
	}
	.menu__link {
	font: 32px/1.5 "Josefin Sans";
	}
	.content {
		min-height: auto;
	}
	.side {
		position: absolute;
		left: 0;
		height: 60px;
		width: 100%;
	}
	.main {
		width: 100%;
		padding-top: 60px;
		left: 0;
	}
	.foto {
		display: none;
	}
	.title {
		width: 100px;
		height: auto;
	}
	#send  {
		top: 0;
		margin-top: 100px;
	}
	.side .main-nav {
		display: none;
	}
	.work-title h2 {
		font-size: 40px;
	}
	.next-container {
		height: 90px;
	}
	.more svg, .close svg, .next svg{
		width: 85px;
	}
	.more p, .close p, .next p{ 
		font-size: 22px;
	}
	.close  p { 
		font-size: 55px;
	}
	#right {
		right: 3.5%;
	}
}
@media screen and (max-width: 450px) {
	.header_p {
	font: 24px/1.5 "Josefin Sans";
	}
	.menu__link {
	font: 24px/1.5 "Josefin Sans";
	}
	.logo {
		min-width:120px;
	}
	.signature {
		width: 80%;
		min-width:220px;
	}
	.white, .green, .grey {
		font: 24px/1.5 "Josefin Sans";
	}
	.cont-work {
		position: relative;
	}
	.cont-img-slaid {
		position: absolute;
		top: 0;
	}
	.minus, .plus {
		position: absolute;
		top: 50%;
		width: 20px;
		height: 20px;
		background: #444;
	}
	.minus {
		left: 3%;
	}
	.plus {
		right: 3%;
	}
	.writeme {
		width: 200px;
	}
}