* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none
}
body {
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}
.container-boss {
	width: 1016px;
	height: auto;
	margin: 0 auto;
	padding: 50px 0px 60px 46px;
	background: #ffffff;
	box-shadow: 0px 0px 2px 2px #dbdbdb;
}
/* Верхнее меню */
.menu-top {
	margin-top: 40px;
	width: 966px;
	height: 40px;
	background: linear-gradient(to bottom, #5e5e5e, #444343);
}
.menu-top ul li {
	width: 143px;
	height: 40px;
	float: left;
	border-right: 1px solid rgba(131,131,131,0); 
	border-left: 1px solid rgba(131,131,131,0);
}
.menu-top ul li:nth-child(2) {
	width: 99px;
}
.menu-top ul li:nth-child(3) {
	width: 167px;
}
.menu-top ul li:hover {
	background: linear-gradient(to bottom, #4a4a4a, #2e2e2e);
	border-right: 1px solid rgba(131,131,131,1); 
	border-left: 1px solid rgba(131,131,131,1);
}
.menu-top ul li a {
	display: block;
	height: 30px;
	padding: 10px 0px 0px 25px;
	color:#ffffff; 
	font-size: 15px;
}
.menu-top ul li:nth-child(2) a {
	padding-left: 23px;
}
.menu-top ul li:nth-child(3) a {
	padding-left: 63px;
}
/* Боковое меню */
.side-bar {
	display: inline-block;
	vertical-align: top;
	width: 238px;
	height: auto;
	margin-top: 40px;
}
.side-bar ul li {
	height: 39px;
	border: 1px solid #c8c8c8;
	border-top: 0;
	background: #ffffff;
}
.side-bar ul li:first-child {
	border-top: 1px solid #c8c8c8;
}
.side-bar ul li:hover a {
	padding-left: 35px;
	background: #f9f9f9;
	color: #2c2c2c;
}
.side-bar ul li a {
	display: block;
	height: 29px;
	padding: 10px 0px 0px 23px;
	color: #656363;
	font-size: 13px; 
	
}
/* Контент */
.content {
	display: inline-block;
	vertical-align: top;
	width: 676px;
	height: auto;
	margin: 40px 0px 0px 48px;
}
.picture {
	width: 678px;
	height: 398px;
	overflow: hidden;
	border: 1px solid #c8c8c8;
}
.picture  img {
display: block;
margin: 50px auto;
vertical-align: center;	
}
.article {
	padding: 40px 25px;
	color: #2c2c2c;
	font-size: 13.3px;
	line-height: 1.6;
}
/* Footer  */
.menu-bottom {
	width: 966px;
	height: 40px;
	background: #e1e1e1;
}
.menu-bottom ul li {
	width: 145px;
	height: 40px;
	float: left;
}
.menu-bottom ul li:hover a{
	text-decoration: underline;
}
.menu-bottom ul li a {
	display: block;
	height: 30px;
	padding: 12px 0px 0px 25px;
	color:#2c2c2c; 
	font-size: 13px;
}
.copyright {
	float: right;
	color:#2c2c2c; 
	font-size: 13px;
	padding: 12px 25px 0px 0px;
}